.slider-container {
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	font-family: 'Helvetica Neue', sans-serif;

}
	
.slider {

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	background: #eee;
/* 	-webkit-overflow-scrolling: touch; */

}

.slider-arrow {
	
	position: absolute;
	top: 45%;
	left: 1em;
	z-index: 9999; /* Stay on top of slider-nav if they are aligned vertically */
	
}
.slider-arrow.right {
	left: auto;
	right: 1em;
}

.slider-arrow, .slider-nav a {
	
	cursor: pointer;
	padding: .6em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #bbb;
	color: #fff;
	text-shadow: 0 -1px 1px #333;
	box-shadow: 0 1px 1px #666;
	
}		

.slider-nav {
	
	text-align: center;
	position: absolute;
	bottom: 1em;
	width: 100%;
	
}
		
.slider-nav a {
	
	display: inline-block;
	margin: .5em;
	
}

.slider > * {
	width: 100%;
	display: inline-block;
	white-space: normal;
	margin: 0 -4px 0 0; /* Fix inline-block right padding */
	vertical-align: top;
	overflow: hidden;
}

.slider img {
	display: block; /* Fix image bottom padding */
}
